<!doctype html>
<html lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Wyszukiwarka adresów ePUAP</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">

    <script src="static/scripts.js"></script>
</head>
<body>
    <div class="container">
        <h1>Prosta wyszukiwarka adresów skrytek ePUAP</h1>

        <form>
            <div class="form-row align-items-center">
                <div class="col">
                    <label class="sr-only" for="inlineFormInput">Wyszukiwanie</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput"
                           placeholder="Szukaj po REGON, nazwie lub adresie...">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary mb-2"
                            onclick=getAddresses(document.getElementById("inlineFormInput").value)>Search</button>
                </div>
            </div>
        </form>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>REGON</th>
                        <th>Adres</th>
                        <th>Skrytka EPUAP</th>
                    </tr>
                </thead>
                <tbody id="t"></tbody>
            </table>
        </div>
    </div>

    <script>
        document.getElementById("inlineFormInput").addEventListener("keypress", function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                getAddresses(document.getElementById("inlineFormInput").value)
            }
        });
    </script>
</body>
    <footer class="footer">
        <div class="container">
            <span class="text-secondary">
                ©2018: Tomasz Taraś;
                <a href="https://github.com/ttomasz/wyszukiwarka-skrytek-epuap" class="text-secondary">Project available on github</a>
            </span>
        </div>
    </footer>
</html>
